Infrastructure/client/src/main/resources/wsdl/countries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://www.example.com/ws/countries"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://www.example.com/ws/countries"
        name="CountriesService">

    <types>
        <xs:schema
                targetNamespace="http://www.example.com/ws/countries"
                elementFormDefault="qualified">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="getCountryRequest">
        <part name="parameters" element="tns:getCountryRequest"/>
    </message>
    <message name="getCountryResponse">
        <part name="parameters" element="tns:getCountryResponse"/>
    </message>

    <portType name="CountriesPort">
        <operation name="getCountry">
            <input message="tns:getCountryRequest"/>
            <output message="tns:getCountryResponse"/>
        </operation>
    </portType>

    <binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getCountry">
            <soap:operation soapAction="getCountry"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CountriesService">
        <documentation>Countries SOAP Service</documentation>
        <port name="CountriesPort" binding="tns:CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws/countries"/>
        </port>
    </service>
</definitions>